
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #2d5568!important;
}

body > .container {
    padding-top: 60px;
}

.lite {

}

.full {
    
}

.caja-video {
    background-color:white;
    padding: 0 !important;
}

.participa {
    margin-top: 100px;
}

h5 {
    line-height: 40px;
}

.display-4 {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 5px 5px black;
    margin-top: 60px;
}

.logo-landing {
    float: right;
    padding-right: 3%;
    padding-top: 7%; 
}

.title {
    float: left;
    margin-top: 15%;
    padding-left: 5%;
}

.form-control {
    margin-left: 0px !important;
}

.fixed-top {
    position: inherit;
}

.bg-light {
    background-color: transparent !important;
    height: 100px;
    padding: 30px;
}

/*PARA EXCESO LATERAL DERECHO*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/* */

ul.nav {
    background-color: transparent;
    border: solid 1px white;
    margin-top: 0px;
}

ul.nav a {
    color: white;
}

.nav{
    display: inherit;
    float: right;
    background-color: transparent !important;
    padding: 0px;
}

.nav-link:hover {
    background-color: white;
    transition: all 0.3s ease-in-out;
    color: #113b61;
}

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    background-color: white;
    z-index: 10;
}

.jumbotron-fluid {
    background-image: url("../images/header-bg.jpg");
    background-size: cover; 
    color: white;
    height: 750px;
    padding-top: 12m0px;
}

.jumbotron{
    background-size: cover; 
    color: white;
    border-radius: 0;
    margin-bottom: 0px !important;
    margin-top: -100px;
}

.card {
    border: none;
}

.card-text {
    font-size: 15px;
}

/*STIKY FOOTER*/
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    border-bottom: 20px solid #0D2330;
    background-color: #132256;
}
/* */

/*SOCIAL*/
.fa-instagram, .fa-twitter, .fa-facebook {
    color: white;
    padding: 20px;
}

.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: gray;
}

.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
/* */

/*MEDIA QUERIES*/
@media (max-width: 1000px) {
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 7%;
        width: 350px !important;
    }
    .title {
        float: left;
        margin-top: 35%;
        padding-left: 5%;
        width: 350px !important;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
        float: left;
    }
    .display-4 {
        margin-top: 0px !important;
        font-size: 30px;
    }
    .jumbotron-fluid {
        height: 300px;
    }
    div.col-10.text-center {
        margin: 0px 30px 0px 30px !important;
    }
    h1, h2 {
        font-size: 22px;
    }
    .display-4 {
        font-size: 20px;
    }
    .btn {
        font-size: 12px !important;
        margin-left: -27px;
    }
    a img {
        width: 130px;
    }
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 5%;
        width: 300px;
    }
    .participa {
        margin-top: 10px;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .illustration {
        display: none;
    }
    .title {
        display: none;
    }
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 7%;
        width: 250px !important;
    }
    .lite {

    }
    
    .full {
        
    }
}

@media (max-width: 500px) {
    .jumbotron-fluid {
        height: 200px;
    }
    .logo-landing {
        float: right;
        padding-right: 8%;
        padding-top: 5%;
        width: 250px;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .illustration {
        display: none;
    }
    .hashtag {
        font-size: 20px;
    }
}
/* */

/* ALMA */

/* VIDEO LIST */
.input-group{
	margin-bottom: 3em;
}
.input-group-text{
	border: 0px;
	color: white;
}
.btn-outline-secondary{
	border: 0px;
	color: white;
	background-color: #153544;
}
.btn-outline-secondary:hover{
	background-color: #234a5c;
}
.input-group-desc{
	background-color: transparent !important;
}
.custom-select{
	border-radius: 5px !important;
}
.form-control{
	border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;	
}
.hidden{
	display:none;
}
.form-control{
	margin-left: 15px;
}

.hashtag {
    color: #2d5568;
    background-color: white;
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
} 

.hashtag:hover {
    background-color: #3c6c82 !important;
    color: white;
    transition: all 0.1s ease-in-out;
} 

a:hover {
    text-decoration: none !important;
    transition: all 0.1s ease-in-out;
} 