
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #2d5568!important;
}

body > .container {
    padding-top: 60px;
}

.caja-video {
    background-color:white;
    padding: 0 !important;
}

.participa {
    margin-top: 100px;
}

h5 {
    line-height: 40px;
}

.display-4 {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 5px 5px black;
    margin-top: 60px;
}

.logo-landing {
    float: right;
    padding-right: 3%;
    padding-top: 7%; 
}

.title {
    float: left;
    margin-top: 15%;
    padding-left: 5%;
}

.form-control {
    margin-left: 0px !important;
}

.fixed-top {
    position: inherit;
}

.bg-light {
    background-color: transparent !important;
    height: 100px;
    padding: 30px;
}

/*PARA EXCESO LATERAL DERECHO*/
.row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
/* */

ul.nav {
    background-color: transparent;
    border: solid 1px white;
    margin-top: 0px;
}

ul.nav a {
    color: white;
}

.nav{
    display: inherit;
    float: right;
    background-color: transparent !important;
    padding: 0px;
}

.nav-link:hover {
    background-color: white;
    transition: all 0.3s ease-in-out;
    color: #113b61;
}

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    background-color: white;
    z-index: 10;
}

.jumbotron-fluid {
    background-image: url("../images/header-bg.jpg");
    background-size: cover; 
    color: white;
    height: 750px;
    padding-top: 12m0px;
}

.jumbotron{
    background-size: cover; 
    color: white;
    border-radius: 0;
    margin-bottom: 0px !important;
    margin-top: -100px;
}

.card {
    border: none;
}

.card-text {
    font-size: 15px;
    text-align: justify;
}
.cancha{
    margin-bottom: 50px; 
    padding-top: 50px; 
    padding-bottom: 50px;
    background-image: url("/images/cancha-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 7px solid #bc9c65;
}
.card-cancha {
    background-color: transparent;
    margin: 30px;
}
.card-cancha-body{
    margin-top: 30px;
}
.card-title{
    background-color: white;
    color: #2d5568; 
    border-radius: 10px;
    font-size: 20px;
}
.delanteros, .volantes, .mediocampo, .defensa, .arquero{
    margin-top: 150px;
}


/*STIKY FOOTER*/
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    border-bottom: 20px solid #0D2330;
    background-color: #132256;
}
/* */

/*SOCIAL*/
.fa-instagram, .fa-twitter, .fa-facebook {
    color: white;
    padding: 20px;
}

.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: gray;
}

.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
.lite {
    display: none;
}

.full {
    display: block;
}

/* video */
.contenedor{
  display: block; 
  margin: 20px auto; 
  width: 100%; 
  max-width: 600px;  
}
.reproductor { 
  display: block; 
  width: 100%; 
  height: 100%; 
  padding-bottom: 56.25%; 
  overflow: hidden; 
  position: relative; 
  cursor: pointer; 
}
img.imagen-previa { 
   display: block; 
   left: 0; 
   bottom: 0;
   margin: auto; 
   max-width: 100%; 
   width: 100%; 
   position: absolute; 
   right: 0; 
   top: 0; 
   height: auto 
}
div.youtube-play { 
   height: 64px; 
   width: 64px; 
   left: 50%; 
   top: 50%; 
   margin-left: -36px; 
   margin-top: -36px;
   opacity:0.7;
   position: absolute; 
   background:   url("https://cdn2.iconfinder.com/data/icons/social-icons-color/512/youtube-64.png") no-repeat; 
}
div.youtube-play:hover{
   opacity:1; 
}
#youtube-iframe { 
   width: 100%; 
   height: 100%; 
   position: absolute; 
   top: 0; 
   left: 0; 
}

/* Ranking */
.ranking{
    color: black;
    background-color: white;
    border-radius: 10px;
}
.table{
    margin-top: 50px;
    margin-bottom: 50px;
}
.table thead td{
    border-top: 0px;
    font-weight: 800;
}
.card-img-top{
    width: 300px;
    opacity: 1;
}
.card-img-top:hover{
    opacity: 0.8;
    -webkit-transition: opacity 0.1s;
   transition: opacity 0.1s;
}

/* */
/*MEDIA QUERIES*/
@media (max-width: 1000px) {
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 7%;
        width: 350px !important;
    }
    .title {
        float: left;
        margin-top: 35%;
        padding-left: 5%;
        width: 350px !important;
    }
}
/*MEDIA QUERIES*/
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .title {
        display: none;
    }
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 7%;
        width: 250px !important;
    }

}

@media (max-width: 768px) {
    .col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
        float: left;
    }
    .display-4 {
        margin-top: 0px !important;
        font-size: 30px;
    }
    .jumbotron-fluid {
        height: 300px;
    }
    div.col-10.text-center {
        margin: 0px 30px 0px 30px !important;
    }
    h1, h2 {
        font-size: 22px;
    }
    .display-4 {
        font-size: 20px;
    }
    .btn {
        font-size: 10px !important;
        margin-left: -27px;
    }
    a img {
        width: 130px;
    }
    .logo-landing {
        float: right;
        padding-right: 3%;
        padding-top: 5%;
        width: 300px;
    }
    .participa {
        margin-top: 10px;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .illustration {
        display: none;
    }
    .video {
        width: 100% !important;
        margin-bottom: 1em;
    }
    .lite {
        display: block;
    }
    
    .full {
        display: none;
    }
}

@media (max-width: 500px) {

    .container {
        max-width: 470px;
    }
    .jumbotron-fluid {
        height: 200px;
    }
    .logo-landing {
        float: right;
        padding-right: 8%;
        padding-top: 5%;
        width: 250px;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .illustration {
        display: none;
    }
    .hashtag {
        font-size: 20px;
    }
    .delanteros, .volantes, .mediocampo, .defensa, .arquero{
        margin-top: 80px;
    }

    .card-cancha {
        width: 80px;
        margin: 0px;
    }
    .card-cancha-body{
        padding: 0px !important;
        margin: 0px;
        margin-top: 15px;
    }
    .col-3{
        padding: 0px;
    }
    .card-title{
        font-size: 10px;
        margin-left: 0.1px !important;
    }
    .card-img-top{
        width: 110px;
    }

    .verranking{
        margin-top: 30px;
    }
}

/* */


/* ALMA */

/* VIDEO LIST */
.input-group{
    margin-bottom: 3em;
}
.input-group-text{
    border: 0px;
    color: white;
}
.btn-outline-secondary{
    border: 0px;
    color: white;
    background-color: #153544;
}
.btn-outline-secondary:hover{
    background-color: #234a5c;
}
.input-group-desc{
    background-color: transparent !important;
}
.custom-select{
    border-radius: 5px !important;
}
.form-control{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;  
}
.hidden{
    display:none;
}
.form-control{
    margin-left: 15px;
}



.hashtag {
    color: #2d5568;
    background-color: white;
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
} 

.hashtag:hover {
    background-color: #3c6c82 !important;
    color: white;
    transition: all 0.1s ease-in-out;
} 

a:hover {
    text-decoration: none !important;
    transition: all 0.1s ease-in-out;
} 